/*
ABOUT ME PAGE CSS 

Noel Glamann
April 01, 2021
*/

.pagehead{
    display: block;
    width: 100%;
    background-image: linear-gradient(#37526D, white, white);
    height: 780px;
}
.pagehead img{
    display: block;
    position: absolute;
    width: 40%;
    top:10%;
    left: 5%;
    right:5%;
    border: solid 2px #37526D;
}

.pagehead p{
    font-size: 140px;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    text-align: right;
    top: 5%;
    left: 40%;
    width: 100%;
    transform: translate(-50%, -50%);
}
.pagehead .sections{
    position: absolute;
    text-align: right;
    top: 35%;
    left: 72%;
    width: 50%;
    transform: translate(-50%, -50%);

    background: rgba(201, 214, 227, 0.6);
}
.pagehead .gen{
    position: absolute;
    width: 38%;
    top: 45%;
    left: 55%;
    font-size: 23px;
    text-align: left;
}

.sections a{
    text-decoration: underline 1px ;
    font-size: 30px;
    font-weight:lighter;
    color: black;
    padding-right: 3%;
    text-align: center;
    margin-bottom: 1%;
}
.sections i{
    font-size: 20px;
}

.sections a:hover{
    color: white;
}

.ach, .skills, .edu, .exp{
}
.footer {
    position: relative;
}

.ach, .edu, .test{
    background:rgba(201, 214, 227, 0.6);
}