/*
CONTACT CSS 

Noel Glamann
April 01, 2021
*/

.main{
    display: block;
    width: 80%;
    margin: 2% 10%;
    background-image: linear-gradient(#EEF4FB, #EEF4FB, #EEF4FB, #EEF4FB, #37526D);
    height: 800px;
}
.left {
    display: block;
    width: 30%;
    margin: 0 10%;
    float: left;
    background: none;
}
div.mysocials{
    text-align: right;
}
div.mysocials > i{
    color: #37526D;
    font-size: 3vw;
    
}
.right {
    display: block;
    width: 50%;
    float: left;
    background: none;
}
.conform{
    display: block;
    width: 100%;
}

.conform form{
    display: block;
    width: 86%;
    margin: 0 7%;
    background: white;
    padding: 3% 0%;
}

.conform form p{
    color: #843B62;
    font-size: 20px;
    font-family: 'Heebo', sans-serif;
}

input[type=text]{
    padding: 1%;
    font-size: 15px;
}
input[id="first"]{
    width: 30%;
    margin-left: 16%;
}
input[id="last"]{
    width: 30%;
    margin-right: 16%;
}
input[id="emadd"]{
    width: 30%;
    margin-left: 16%;
}
input[id="num"]{
    width: 30%;
    margin-right: 16%;    
}
input[id="msg"]{
    width: 63%;
    margin: 0 16%;
    height: 300px;
}
input[type=checkbox]{
    margin-left: 16%;
}
input[type=submit]{
    margin-left: 60%;
    font-size: 18px;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
}