/*
INDEX CSS 

Noel Glamann
April 01, 2021
*/


.heading{
    display: block;
    width: 100%;
}
.heading h1{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    
}
.bio {
    display: block;
    width: 100%;
}

.bio img{
    display: block;
    float: left;
}
.bio .saying {
    display: block;
    float: left;
    font-family: 'Unica One', cursive;
}
.bio .intro{
    display: block;
    float: left;
    background: #E4EAF1;
    color: #37526D;
}

.intro p{
    display: block;
    width: 80%;
    margin-left: 10%;
    font-size: 20px;
}

@media only screen and (max-width: 480px){
    .heading h1{
        font-size: 50px;
    }
    .bio img{
        width: 90%;
        margin-left:5%;
    }
    div.saying{
        width: 80%;
        margin: 8%;
        text-align: center;
        font-size: 30px;

    }
 
    .intro p{
        font-size: 14px;
    }
}
  
@media only screen and (min-width: 481px){
    
    .heading h1{
        font-size: 120px;
    }
    .bio img{
        width: 50%; 
        margin: 0 2.5%;
    }
    div.saying{
        width: 45%;
        padding:50px 0;
        text-align: center;
        font-size: 75px;
    }
    div.intro{
        width: 40%;
        margin-left: 2.5%;
    }
}