/*
Noel Glamann
April 27, 2021

New CSS for Responsive Design
*/
/*
Noel Glamann
April 27, 2021

New CSS for Responsive Design
*/


/* =============================
	Mobile Styles: 0 - 480 pixels
   =============================
*/

@media only screen and (max-width: 480px){
    .pagehead img{display: none;}
    button.collapsible{display: none;}
    div.content{display: none;}
    .description{display: none;}
    iframe{display: none;}
    img{display: none;}
    .content p{display: none;}
    div.right{display: none;}
    div.left{display: none;}
    .pagehead p{
        font-size: 13vw;
        margin: 2vw;
    }
    div.main{
        font-size: 4vw;
        width: 90%;

    }
    .projects{
        width: 90%;
        margin: 5%;
        background: rgba(201, 214, 227, 0.4)
    }
    a.moblink{
        margin-left: 5%;
        color: black;
    }

}

/* =================================================
	Tablet and Desktop Styles: 481 pixels and greater
   =================================================
*/
@media only screen and (min-width: 481px){
        
    .pagehead{
        display: block;
        width: 100%;
    }
    .pagehead img{
        width: 100%;
        opacity: 0.5;
        position: relative;
    }
    .pagehead p{
        position: absolute;
        top: 1vw;
        right: 3vw;
        font-size: 10vw;
        font-family: 'Heebo', sans-serif;
        color: #37526D;
    }
    .main {
        position: absolute;

        display: block;
        width: 50%;
        right: 3vw;
        top: 30vw;
    }
    .main p{
        width: 100%;
        background: rgba(228, 234, 241, 0.6);
        font-size: 1.1vw;
        text-align: center;
        padding: 1vw;
        font-weight: bold;


    }

    div.projects{width: 80%;}
    a.moblink{display: none;}
    .collapsible {
        background-color: #C9D6E3;
        color: rgb(39, 39, 39);
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }
    
    .active, .collapsible:hover {
        background-color: #37526D;
        color: white;
    }
    
    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #E7E7E7;
    }


    .euphoria{
        display: block;
        width: 100%;
        height: 500px;
        background: black;
    }

    .description{
        display: block;
        width: 20%;
        float: left;    
        background: #E7E7E7;
        height: 500px;
    }
    .frame{
        display: block;
        width: 80%;
        float: left;
        background: #E7E7E7;
    }
    .frame iframe{
        display: block;
        width: 100%;
        height: 600px;
    }
    .frame img{
        width: 100%;
    }
    div.left{
        width: 50%;
        float: left;
    }
    div.right{
        width: 50%;
        float: left;
    }
    img.example{
        width: 100%;
    }



.container {
    position: relative;
    width: 100%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255, 159, 218, 0.8);
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: black;
    text-decoration: underline;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .text:hover{
      color: white;
  }
}